.content {
    .colors {
        .swatch-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: grid;
            grid-gap: 10px;
            grid-template-columns: repeat(auto-fill, minmax(180px, 1fr) ) ;
            // display: flex;
            // flex-wrap: wrap;
            // justify-content: flex-start;
            li {
                // width: 198px;
                // margin: 5px;
                // min-width: 198px;
                // max-width: 198px;
                // flex: 1;
                    .swatch-color {
                        height: 80px;
                    }
                
            }
        }
        // .nomatch, .match {
        //     li {
                
        //     }
        // }
    }
}

// @media screen and (max-width : 767px) {
//     .content {
//         .colors {
//             .swatch-list {
//                 li {
//                     width: 47%;
//                 }
//             }
//         }
//     }
// }

// @media screen and (min-width: 1240px) and (max-width: 1440) {
//     .colors-page {
//         .content.sidebar {
//             .colors {
//                 .swatch-list {
//                     li.swatch {
//                         .swatch-color {
//                             max-width: 20%;
//                         }
//                     }
//                 }
//             }
//         }
//     }
    
// }

