.content {
    .colors {
        .swatch-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            li {
                margin: 5px;
                min-width: 180px;
                flex: 1;
                    .swatch-color {
                        height: 80px;
                    }
                
            }
        }
    }
}

@media screen and (max-width : 767px) {
    .content {
        .colors {
            .swatch-list {
                li {
                    width: 47%;
                }
            }
        }
    }
}

@media screen and (min-width : 1240px) {
    .content.sidebar {
        .colors {
            .swatch-list {
                li {
                    width: 23%;
                }
                .swatch {
                    
                }
                .swatch-color {
                    // width: 100%;
                }
            }
        }
    }
    .content.no-sidebar {
        .colors {
            .swatch-list {
                li {
                    width: 19%;
                }
                .swatch {

                }
                .swatch-color {
                    // width: 100%;
                }
            }
        }
    }
}

@media screen and (min-width : 1600px) {
    .content.sidebar {
        .colors {
            .swatch-list {
                li {
                    width: 13.56%;
                   
                }
                .swatch {
                    
                }
                .swatch-color {
                    // width: 100%;
                }
            }
        }
    }
    .content.no-sidebar {
        .colors {
            .swatch-list {
                li {
                    width: 11.8%;
                }
                .swatch {

                }
                .swatch-color {
                    // width: 100%;
                }
            }
        }
    }
}