.favorites {
    
}

.favorites.inactive {
    
}

.favorites.active {
    background-color: #ededed;
    padding: 10px;
    min-height: 60vh;
    max-height: 100vh;
    overflow: scroll;
    .favorites-toolbar {
        width: 100%;
        // width: 430px;
        padding-top: 10px;
        // display: flex;
        // align-items: center;
        transition:width 0.25s;
        -webkit-transition:width .25s;
        -moz-transition: width 0.25s;
        .favorites-heading {
            font-weight: 700;
            color: #999;
        }
        .favorites-toolbar-inner {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 10px 0;
            background: #ddd;
            margin-top: 8px;
            .favorites-sort {
                font-size: 12px;
                margin-right: 4px;
                color: #777;
            }
            .favorites-pdf {
                display: flex;
                align-items: center;
                margin-right: 4px;
                color: #777;
                span {
                    font-size: 12px;
                }
                svg {
                    width: 24px;
                    margin-right: 2px;
                    opacity: 0.7;
                }
                &:hover, &:focus {
                    svg {
                        opacity: 1;
                    }
                }
            }
            .download-favorites {
                width: 32px;
                height: auto;
                cursor: pointer;

            }
            .save-palette {
                display: flex;
                align-items: center;
                margin-right: 4px;
                color: #777;
                cursor: pointer;
                span {
                    font-size: 12px;
                }
                svg {
                    width: 14px;
                    margin-right: 4px;
                    opacity: 0.7;
                    position: relative;
                    top: 2px;
                }
                &:hover, &:focus {
                    svg {
                        opacity: 1;
                    }
                }
            }
        }
        .favorites-info {
            padding: 4px 0;
            font-size: 13px;
            color: #999;
        }
    }
    .favorite-swatches-wrap {
        padding: 10px 10px 16px;
        background: #ddd;
    }
    .favorites-bar {
        padding: 10px;
        background-color: #fff;
        // min-height: 70px;
        .favorites-placeholder {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: #bbb;
        }
        .favorites-list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            padding: 0;
            margin: 0 auto 0 0;
            .favorite {
                margin: 3px;
                width: 100%;
                background: #ccc !important;
                height: 30px;
                display: block;
                    .swatch-color {
                        width: 97.5%;
                        height: 20px;
                        font-size: 12px;
                        padding: 5px;
                        align-items: center;
                        justify-content: flex-start;
                        .remove-favorite {
                            top: 6px;
                        }
                        .swatch-content {
                            display: flex;
                            justify-content: flex-start;
                            text-align: left;
                            .swatch-hex {
                                width: 60px;
                                margin-right: 1em;
                            }
                        }
                    }
                
            }
        }
    }
    .favorite-squares {
        padding: 2em 0 0;
        .favorite-squares-list {
            list-style: none;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            background-color: #fff;
            padding: 10px;
            li {
                margin: 4px;
                    .swatch-color {
                        width: 32px;
                        height: 32px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .favorite-heart {
                            display: none;
                        }
                        .remove-favorite {
                            position: relative;
                            top: 0;
                            right: 0;
                        }
                        .swatch-hex, .swatch-name {
                            display: none;
                        }
                    }
                
                
            }
        }
        
    }
    .clear-fav {
        margin: 1em 0 0;
        display: flex;
        justify-content: flex-end;
        .clear-favorites {
            font-size: 18px;
            display: flex;
            align-items: center;
            svg {
                margin-right: 2px;
                font-size: 18px;
                width: 18px;
                height: 18px;
                width: 24px;
                fill:  #f35336;
                cursor: pointer;
                opacity: 0.7;
                circle {
                    fill: transparent;
                    color: #f35336;
                }
            }
            &:hover, &:focus {
                svg {
                    opacity: 1;
                }
            }
        }
        .clear-text {
            font-size: 12px;
            color: #777;
        }
    }
}
