.palettes-page {
    .content.sidebar {
        
    }
    .content.no-sidebar {
        .feed {
            width: 97%;
        }
    }
    .feed {
        padding: 1.5em;
        width: 80%;
        .feed-header {
            display: flex;
            align-items: center;
            .feed-toggle {
                margin-left: auto;
                label {
                    display: flex;
                    align-items: center;
                }
                .react-toggle {
                    margin-right: 4px;
                }
                span {
                    font-size: 11px;
                }
            }
        }
        .feed-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .feed-item {
                padding: 5px 10px 10px;
                background: #f2f2f2;
                // margin: 5px;
                margin-bottom: 10px;
                
                .palette-header {
                    display: flex;
                    .palette-name {
                        font-size: 13px;
                        font-weight: 600;
                        padding-bottom: 5px;
                    }
                    .palette-pdf {
                        margin-left: auto;
                        margin-right: 10px;
                        width: 21px;
                        .favorites-pdf {
                            cursor: pointer;
                            svg {
                                width: 21px;
                                height: auto;
                                path {
                                    fill: #aaa;
                                }
                            }
                            span {
                                display: none;
                            }
                            &:hover {
                                svg {
                                   path {
                                        fill: #777;
                                   } 
                                }
                            }
                        }
                    }
                    .palette-likes {
                        // padding: 3px 0;
                        text-align: right;
                        // margin-left: auto;
                        // align-self: flex-end;
                        svg {
                            width: 12px;
                            height: 12px;
                            font-size: 12px;
                            position: relative;
                            // top: 2px;
                            path {
                                fill: #bbb;
                                stroke-width: 5;
                                stroke: #491EC4;
                                &:hover {
                                    fill: red;
                                    cursor: pointer;
                                }
                            }
                        }
                        .liked {
                            svg {
                                path {
                                    fill: red;
                                }
                            }
                        }
                        .likes-count {
                            font-size: 12px;
                            position: relative;
                            top: -1px
                        }
                    }
                }
                
                .feed-palette {
                    display: flex;
                    // flex-wrap: wrap;
                    padding: 8px;
                    border: 1px solid #ccc;
                    background: #fff;
                    .swatch {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 1px;
                        font-size: 9px;
                        font-weight: 500;
                        line-height: 1.2;
                        .swatch-color {
                            padding: 2px;
                            width: 50px;
                            height: 50px;
                            .add-favorite, .remove-favorite {
                                top: 3px;
                                right: 3px;
                                font-size: 12px;
                                svg {
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .feed-list.no-info {
            .swatch-content {
                display: none;
            }
        }
    }
}