.palettes-page {
    .content.sidebar {
        
    }
    .feed {
        padding: 1.5em;
        width: 80%;
        .feed-header {
            display: flex;
            align-items: center;
            .feed-toggle {
                margin-left: auto;
                label {
                    display: flex;
                    align-items: center;
                }
                .react-toggle {
                    margin-right: 4px;
                }
                span {
                    font-size: 11px;
                }
            }
        }
        .feed-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .feed-item {
                padding: 5px 10px 10px;
                background: #f2f2f2;
                // margin: 5px;
                margin-bottom: 10px;
                
                .palette-header {
                    display: flex;
                    .palette-name {
                        font-size: 13px;
                        font-weight: 600;
                        padding-bottom: 5px;
                    }
                    .palette-pdf {
                        margin-left: auto;
                        margin-right: 10px;
                        width: 21px;
                        .favorites-pdf {
                            cursor: pointer;
                            svg {
                                width: 21px;
                                height: auto;
                                path {
                                    fill: #aaa;
                                }
                            }
                            span {
                                display: none;
                            }
                            &:hover {
                                svg {
                                   path {
                                        fill: #777;
                                   } 
                                }
                            }
                        }
                    }
                    .palette-likes {
                        // padding: 3px 0;
                        text-align: right;
                        // margin-left: auto;
                        // align-self: flex-end;
                        svg {
                            width: 12px;
                            height: 12px;
                            font-size: 12px;
                            position: relative;
                            // top: 2px;
                            path {
                                fill: #bbb;
                                stroke-width: 5;
                                stroke: #491EC4;
                                &:hover {
                                    fill: red;
                                    cursor: pointer;
                                }
                            }
                        }
                        .liked {
                            svg {
                                path {
                                    fill: red;
                                }
                            }
                        }
                        .likes-count {
                            font-size: 12px;
                            position: relative;
                            top: -1px
                        }
                    }
                }
                
                .feed-palette {
                    display: flex;
                    // flex-wrap: wrap;
                    padding: 8px;
                    border: 1px solid #ccc;
                    background: #fff;
                    .swatch {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 1px;
                        font-size: 9px;
                        font-weight: 500;
                        line-height: 1.2;
                        .swatch-color {
                            padding: 2px;
                            width: 50px;
                            height: 50px;
                            .add-favorite, .remove-favorite {
                                top: 3px;
                                right: 3px;
                                font-size: 12px;
                                svg {
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .feed-list.no-info {
            .swatch-content {
                display: none;
            }
        }
    }
}

/* React Toggle CSS */

.react-toggle {
  touch-action: pan-x;

  display: inline-block;
  position: relative;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.react-toggle--disabled {
  cursor: not-allowed;
  opacity: 0.5;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.react-toggle-track {
  width: 50px;
  height: 24px;
  padding: 0;
  border-radius: 30px;
  background-color: #4D4D4D;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
  background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
  background-color: #128D15;
}

.react-toggle-track-check {
  position: absolute;
  width: 14px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle-track-x {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  right: 10px;
  opacity: 1;
  -webkit-transition: opacity 0.25s ease;
  -moz-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
  opacity: 0;
}

.react-toggle-thumb {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  border: 1px solid #4D4D4D;
  border-radius: 50%;
  background-color: #FAFAFA;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
  left: 27px;
  border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
  -moz-box-shadow: 0px 0px 3px 2px #0099E0;
  box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
  -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
  -moz-box-shadow: 0px 0px 5px 5px #0099E0;
  box-shadow: 0px 0px 5px 5px #0099E0;
}