.colors {
    margin-bottom: 3em;
    .colors-header {
        .more-trigger {
            width: 12px;
            height: 12px;
            color: #fff;
            // margin-left: auto;
            cursor: pointer;
            font-size: 12px;
            margin: 0 5px 0 0;
            position: relative;
            top: 1px;
            svg {
                width: 12px;
                height: 12px;
                
            }
            &:hover,
            &:focus {
                // color: darken(#0088cc, 12%);
            }
        }
        .rotate {
            svg {
                animation: rotate-keyframes 0.3s linear;
            }
        }

        @keyframes rotate-keyframes {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(180deg);
            }
        }
        .colors-header-text {
            .colors-header-wrap {
                display: flex;
                align-items: center;
                margin: 1em 0 12px;
                p {
                    margin: 0;
                    min-width: 250px;
                }
                button {
                    margin: 0 5px;
                }
                .all-colors {
                    .palette-icon {
                        width: 12px;
                        height: 13px;
                        margin-right: 4px;
                        position: relative;
                        top: 2px;
                    }
                }
            }
            .button {
                margin: 0;
                font-size: 13px;
                padding: 4px 8px;
                
            }
            .search-results-text {
                margin: 0;
            }
            .no-match {
                margin: 1em 0;
            }
            .load-more {
                display: inline-block;
                margin-left: 8px;
                button {
                    margin: 0;
                    font-size: 13px;
                    padding: 4px 8px;
                }
            }
        }
    }
    .colors-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 1.5em 0 0;
        .colors-links {
            margin-left: 1em;
        }
        button {
            margin: 0;
        }
    }
    .load-more {
        // margin: 1.5em 0;
        text-align: right;
        button {
            margin-left: 1em;
        }
    }
    .scroll-to-top {
        text-align: right;
        // margin: 1em 0 0;
    }
    .swatch-list {
        .swatch {
            .actions-wrap {
                .swatch-actions {
                    top: 33px;
                    right: 5px;
                    margin: 0;
                    margin-left: auto;
                }
                .swatch-actions:after {
                    right: 8px;
                    left: auto;
                }
            }
        }
    }
}

// styling for viewing all colors (grid can't show more than 1000 rows)
.colors-page {
    .content {
        .colors.all-colors {
            .swatch-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .swatch {
                    margin-bottom: 12px;
                    width: 185px;
                    position: relative;
                    .actions-wrap {
                        // height: initial;
                    }
                }
            }
        }
    }
}




@media only screen and (min-width: 1600px) {
    .colors-page {
        .content {
            .colors.all-colors {
                .swatch-list {
                    .swatch {
                        // margin-bottom: 10px;
                        width: 198px;
                    }
                }
            }
        }
    }
}