.colors {
    margin-bottom: 3em;
    .colors-header {
        .more-trigger {
            width: 18px;
            height: 18px;
            color: #0088cc;
            // margin-left: auto;
            cursor: pointer;
            font-size: 18px;
            svg {
                width: 18px;
                height: 18px;
                position: relative;
                top: 3px;
            }
            &:hover,
            &:focus {
                color: darken(#0088cc, 12%);
            }
        }
        .rotate {
            svg {
                animation: rotate-keyframes 0.3s linear;
            }
        }

        @keyframes rotate-keyframes {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(180deg);
            }
        }
        .colors-header-text {
            .search-results-text {
                margin: 0;
            }
            .no-match {
                margin: 1em 0;
            }
        }
    }
    .load-more {
        margin: 1.5em 0;
        text-align: right;
        button {
            margin-left: 1em;
        }
    }
}

@media only screen and (max-width: 899px) {
    .content .colors .swatch-list li {
        max-width: 50%;
    }
}