.account-page {
    .content {
        transition: all 0.6s ease;
    }
    .content.sidebar {
        .page-account {
            width: 100%;
            min-height: 800px;
        }
        .user-palettes {
            .palettes-list {
            }
        }
    }
    .content.no-sidebar {
        .page-account {
            // width: 100%;
        }
    }
}

.account-page.no-user {
    .loading {
        padding: 1.5em;
    }
}

.account-page {
    .page-account {
        // width: 80%;
        // padding: 1.5em;
        background: #f5f5f5;
        .not-logged-in {
            max-width: 600px;
            margin: 2em auto;
            padding: 1.5em;
            background: #f5f5f5;
            .login-tabs {
            }
        }
        .user-info {
            // margin: 1.5em 0;
            padding: 1.5em;
            background: #f5f5f5;
            .user-content-wrap {
                display: flex;
                flex-wrap: wrap;
                .user-actions {
                    padding: 1em;
                    background: #fefefe;
                    border: 1px solid #ddd;
                    border-radius: 4px;
                    width: 120px;
                    margin-right: 1em;
                    align-self: flex-start;
                    li {
                        font-size: 13px;
                        margin-bottom: 6px;
                        span {
                            padding-bottom: 3px;
                            cursor: pointer;
                            color: #777;
                            display: inline-block;
                            &:hover {
                                padding-bottom: 2px;
                                border-bottom: 1px solid #0088cc;
                            }
                        }
                    }
                    .verify-email {
                        span {
                            padding: 3px 8px;
                            border-radius: 4px;
                            background:green;
                            color: #fff;
                        }
                    }
                    li.current {
                        // font-weight: 600;

                        span {
                            color: #111;
                            padding-bottom: 2px;
                            border-bottom: 1px solid #0088cc;
                        }
                    }
                }
                .active {
                    display: block;
                }
                .inactive {
                    display: none;
                }
            }
            .user-avatar {
                display: flex;
                margin-right: 1.5em;
                .avatar {
                    margin-right: 1.5em;
                    img {
                        width: 96px;
                        height: 96px;
                        // margin: 1em 0;
                        border-radius: 150px;
                    }
                }
            }
            .profile-updated {
                p {
                    margin-top: 1em !important;
                    margin: 1em 0 0;
                    font-size: 13px;
                }
            }
            .user-meta {
                padding: 1em 1.5em;
                border: 1px solid #efefef;
                border-radius: 4px;
                background: #fff;
                margin-right: 1.5em;
                // align-self: start;
                min-width: 250px;
                // min-height: 142px;
                h3 {
                    margin: 0;
                }
            }
            .account-email,
            .start-date,
            .account-level,
            .account-expiration {
                font-size: 14px;
            }

            .file-uploader {
                // margin: 1em 0 1.5em;
                padding: 1em;
                border: 1px solid #ddd;
                background: #fefefe;
                border-radius: 4px;
                // align-self: start;
                p {
                    margin-top: 0;
                    font-size: 13px;
                }
                input {
                    display: inline-block;
                }
            }

            .update-profile-outer {
                width: 480px;
                .update-profile-trigger {
                    font-size: 14px;
                    color: #777;
                    margin-bottom: 1.5em;
                    display: inline-block;
                    padding-bottom: 4px;
                    cursor: pointer;
                    &:hover,
                    &:focus {
                        padding-bottom: 2px;
                        border-bottom: 2px solid #0088cc;
                        color: #555;
                    }
                }
                .auth-success {
                    font-size: 13px;
                    color: green;
                    margin-bottom: 1em;
                }
                .update-profile-inner {
                    padding: 2em 1.5em;
                    background: #fefefe;
                    border: 1px solid #efefef;
                    // width: 400px;
                    position: relative;
                    .close-update {
                        position: absolute;
                        top: -4px;
                        right: 10px;
                        font-size: 32px;
                        color: #bbb;
                        cursor: pointer;
                        &:hover,
                        &:focus {
                            color: #999;
                        }
                    }
                    form {
                        position: relative;
                    }
                    form,
                    input,
                    label {
                        width: 99%;
                    }
                    label {
                        .input-label {
                            font-size: 14px;
                            color: #555;
                        }
                        padding-bottom: 10px;
                        display: block;
                    }
                    input {
                        height: 30px;
                        width: 98%;
                        padding: 4px;
                        font-size: 18px;
                        background: #efefef;
                        border: 1px solid #f2f2f2;
                    }
                    input.error {
                        background: #fff5be;
                        border: 2px dotted #f98379;
                    }
                    .input-error {
                        color: #f98379;
                        font-size: 13px;
                        line-height: normal;
                        display: block;
                    }
                    button {
                        margin-bottom: 0;
                        display: block;
                        margin-left: auto;
                    }
                }
            }
            .logout-button {
                margin: 0 0 0 auto;
                align-self: start;
            }
        }
    }
    .user-palettes {
        padding: 1.5em;
        padding-top: 1.5em;
        border-top: 1px dotted #ccc;
        // padding: 1em;
        // border: 1px solid #ccc;
        .user-palettes-header {
            display: flex;
            h3 {
                margin-right: 1.5em;
            }
            .feed-toggle {
                // margin-left: auto;
                label {
                    display: flex;
                    align-items: center;
                }
                .react-toggle {
                    margin-right: 4px;
                }
                span {
                    font-size: 11px;
                }
            }
        }
        h3 {
            margin-top: 0;
        }
        .palettes-list {
            // display: flex;
            // justify-content: space-between;
            // align-items: flex-start;
            // flex-wrap: wrap;

            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
            grid-template-rows: auto;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            justify-items: center;
            .palette-wrap {
                padding: 5px 10px 10px;
                background: #f2f2f2;
                // margin: 5px;
                margin-bottom: 10px;
                max-width: 300px;
                width: 300px;
                .palette-title-bar {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    .palette-name {
                        font-size: 13px;
                        font-weight: 600;
                        padding-bottom: 5px;
                    }
                    // .palette-utilities-top {
                    //     display: flex;
                    //     align-items: center;
                    //     justify-content: flex-end;
                    // }
                    .actions-trigger {
                        position: absolute;
                        // top: 5px;
                        right: 0;
                        top: -1px;
                        z-index: 98;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;
                        // opacity: 0;
                        &:hover {
                        }
                        svg {
                            width: 21px;
                            padding: 0px 4px;
                            border-radius: 16px;
                            path {
                                fill: #777;
                            }
                            &:hover {
                                path {
                                    fill: #222;
                                }
                            }
                            // &:hover {
                            //     background: #aaa;
                            //     path {
                            //         fill: #dedede;
                            //     }
                            // }
                        }
                    }
                    .actions-wrap {
                        display: flex;
                        align-items: center;
                        height: 100%;
                        width: 100%;
                        // position: relative;
                    }
                    .palette-actions {
                        opacity: 0.96;
                        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
                            0 10px 10px rgba(0, 0, 0, 0.22);
                        z-index: 9999;
                        transition: all 0.3s ease-in-out;
                        position: absolute;
                        margin: 0 auto;
                        left: auto;
                        right: 0;
                        top: -50px;
                        height: 40px;
                        width: 200px;
                        border-radius: 3px;
                        background: #f2f2f2;
                        z-index: 99;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        .actions-list {
                            width: 90%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            position: relative;
                            justify-content: space-between;
                            padding: 10px;
                            top: 3px;
                            li,
                            span {
                                &:focus,
                                &:active {
                                    outline: none;
                                    outline: 0;
                                }
                            }
                        }

                        svg {
                            cursor: pointer;

                            &:focus,
                            &:active {
                                outline: none;
                                outline: 0;
                            }
                        }
                        .delete-palette {
                            svg {
                                position: relative;
                                top: 1px;
                                width: 18px;
                                height: 18px;
                                font-size: 24px;
                                fill: #f35336;
                                cursor: pointer;
                                opacity: 0.7;
                                circle {
                                    fill: transparent;
                                    color: #f35336;
                                }
                                &:hover {
                                    circle {
                                        fill: #f35336;
                                    }
                                    path,
                                    polygon {
                                        fill: #fff;
                                    }
                                }
                            }
                        }
                    }
                    .share-link {
                        cursor: pointer;
                        margin-left: auto;
                        align-self: center;
                        margin-right: 6px;
                        position: relative;
                        top: 1px;
                        svg {
                            width: 18px;
                            height: auto;
                            circle {
                                fill: #aaa;
                            }
                            path {
                                fill: #fff;
                            }
                        }
                        &:hover {
                            svg {
                                circle {
                                    fill: #777;
                                }
                            }
                        }
                    }
                    .share-palette {
                        cursor: pointer;
                        margin-left: auto;
                        align-self: center;
                        margin-right: 6px;
                        svg {
                            width: 16px;
                            height: auto;
                            path {
                                fill: #aaa;
                            }
                        }
                        span {
                            display: none;
                        }
                        &:hover {
                            svg {
                                path {
                                    fill: #777;
                                }
                            }
                        }
                    }
                    .export-code {
                        svg {
                            width: 21px;
                            height: auto;
                            circle {
                                fill: #aaa;
                            }
                            path {
                                fill: #fff;
                            }
                        }

                        &:hover {
                            cursor: pointer;
                            svg {
                                circle {
                                    fill: #777;
                                }
                            }
                        }
                        .export-css.disabled {
                            svg {
                                circle {
                                    fill: #ccc;
                                }
                                path {
                                    fill: #fff;
                                }
                            }

                            &:hover {
                                // cursor: not-allowed;
                                svg {
                                    circle {
                                        fill: #ccc;
                                    }
                                }
                            }
                        }
                    }
                    .palette-pdf,
                    .favorites-pdf {
                        margin-left: auto;
                        margin-right: 5px;
                        width: 21px;

                        cursor: pointer;
                        svg {
                            width: 21px;
                            height: auto;
                            path {
                                fill: #aaa;
                            }
                        }
                        .linkish {
                            display: none;
                        }
                        &:hover {
                            svg {
                                path {
                                    fill: #777;
                                }
                            }
                        }
                    }
                }
                .palette-actions:after {
                    top: 100%;
                    left: 92%;
                    border: solid transparent;
                    content: ' ';
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(239, 239, 239, 0);
                    border-top-color: #efefef;
                    border-width: 8px;
                    margin-left: -8px;
                }
                .user-palette {
                    // display: flex;
                    // // flex-wrap: wrap;
                    display: grid; 
                    grid-template-columns: repeat(5, 1fr); 
                    grid-template-rows: auto;
                    grid-column-gap: 1px;
                    grid-row-gap: 1px; 
                    padding: 8px;
                    border: 1px solid #ccc;
                    background: #fff;
                    .swatch {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 1px;
                        font-size: 9px;
                        font-weight: 500;
                        line-height: 1.2;
                        .swatch-color {
                            padding: 2px;
                            width: 50px;
                            height: 50px;
                            .favorite-heart {
                                display: none;
                            }
                            .add-favorite,
                            .remove-favorite {
                                top: 3px;
                                right: 3px;
                                font-size: 12px;
                                svg {
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                        }
                        .actions-trigger {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            top: -10px;
                            left: 0;
                            right: 0;
                            margin: auto;
                        }
                        .swatch-actions {
                            width: 100px;
                            left: -23px;
                            // top: 60px;
                            .actions-list {
                                padding: 8px;
                            }
                        }
                    }
                }
            }
            .user-palette {
                display: flex;
                flex-wrap: wrap;
                padding: 8px;
                border: 1px solid #ccc;
                background: #fff;
                max-width: 298px;
                justify-content: space-between;
                .swatch {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 2px;
                    font-size: 9px;
                    font-weight: 500;
                    line-height: 1.2;
                    .swatch-color {
                        padding: 2px;
                        width: 50px;
                        height: 50px;
                        .add-favorite,
                        .remove-favorite {
                            top: 3px;
                            right: 3px;
                            font-size: 12px;
                            svg {
                                width: 12px;
                                height: 12px;
                            }
                        }
                        .swatch-content {
                            word-break: break-word;
                        }
                    }
                }
            }

            .palette-utilities {
                .delete-palette {
                    margin: 5px 0 0;
                    display: flex;
                    justify-content: flex-end;
                    .palette-delete {
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        svg {
                            margin-right: 2px;
                            font-size: 18px;
                            width: 18px;
                            height: 18px;
                            width: 24px;
                            fill: #f35336;
                            cursor: pointer;
                            opacity: 0.7;
                            circle {
                                fill: transparent;
                                color: #f35336;
                            }
                        }
                        &:hover,
                        &:focus {
                            svg {
                                opacity: 1;
                            }
                        }
                    }
                    .clear-text {
                        font-size: 11px;
                        color: #777;
                    }
                }
            }
        }
        .no-info {
            .swatch-content {
                display: none;
            }
        }
    }
}

.tippy-popper {
    .tippy-tooltip {
        .tippy-content {
            font-size: 12px;
        }
    }
}

.modali-content {
    .update-login {
        padding: 12px;
        background: #fafafa;
        border: 1px solid #efefef;
        border-radius: 4px;
        h3 {
            margin-top: 0;
            font-size: 1em;
        }
        input {
            height: 30px;
            width: 97.5%;
            padding: 4px;
            font-size: 18px;
            background: #efefef;
            border: 1px solid #f2f2f2;
            margin-bottom: 12px;
            &:focus {
                background: #fff;
            }
        }
        button {
            display: block;
            margin-left: auto;
            margin-right: 4px;
        }
    }
    .palette-message {
        .like-link {
            color: #0088cc;
        }
    }
}

@media only screen and (max-width: 1029px) {
    .account-page {
        .content {
            width: 100%;
            .page-account {
                width: 100%;
                .user-content-wrap {
                    flex-wrap: wrap;
                    .user-avatar,
                    .user-meta,
                    .user-actions {
                        margin-bottom: 2.2em;
                    }
                    .user-meta {
                        // width: 100%;
                    }
                }
                .user-palettes {
                    .palettes-list {
                        align-items: center;
                        justify-content: center;
                        grid-template-columns: inherit;
                    }
                }
            }
        }
        .favorites,
        .sidebar-toggle {
            // display: none;
        }
    }
}
