.account-page {
    .page-account {
        width: 80%;
        padding: 1.5em;
        .user-info {
            margin: 1.5em 0;
            .user-avatar {
                display: flex;
                .avatar {
                    margin-right: 1.5em;
                    img {
                        width: 96px;
                        height: 96px;
                        margin: 1em 0;
                        border-radius: 150px;
                    }
                }
                
                .file-uploader {
                    margin: 1em 0 1.5em;
                    padding: 1em;
                    border: 1px solid #ccc;
                    border-radius: 5px;
                    width: auto;
                    p {
                        margin-top: 0;
                        font-size: 13px;
                    }
                    input {
                        display: inline-block;
                    }
                }
            }
            .profile-updated {
                p {
                    margin-top: 1em !important;
                    margin: 1em 0 0;
                    font-size: 13px;
                }
            }
            .start-date {
                font-size: 14px;
            }
        }
        .tabs {
            border: 1px solid #ccc;
            width: 300px;
            .tabs-inner {
            }
            .tab-triggers {
                display: flex;
                .tab-title {
                    width: 50%;
                    padding-bottom: 1em;
                    color: #bbb;
                    padding: 1em;
                    border-bottom: 1px solid #ccc;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h2 {
                        margin: 0;
                    }
                }
                .tab-title-1 {
                    border-right: 1px solid #ccc;
                }
                .tab-title.tab-active {
                    color: #222;
                    border-bottom: none;
                }
            }
            .tab {
                padding: 1em;
                form {
                    display: flex;
                    flex-direction: column;
                }
            }
            .tab.active {
                display: block;
            }
            .tab.inactive {
                display: none;
            }
        }
    }
    .user-palettes {
        margin: 3em 0 2.2em;
        padding-top: 1.5em;
        border-top: 1px dotted #ccc;
        // padding: 1em;
        // border: 1px solid #ccc;
        .user-palettes-header {
            display: flex;
            .feed-toggle {
                margin-left: auto;
                label {
                    display: flex;
                    align-items: center;
                }
                .react-toggle {
                    margin-right: 4px;
                }
                span {
                    font-size: 11px;
                }
            }
        }
        h3 {
            margin-top: 0;
        }
        .palettes-list {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-wrap: wrap;
            // .palette-wrap {
            //     // padding: 5px 10px 10px;
            //     // background: #f2f2f2;
            //     // margin-bottom: 10px;
            //     // min-width: 318px;
            //     // width: 23%;
            //     padding: 5px 10px 10px;
            //     background: #f2f2f2;
            //     margin-bottom: 10px;
            //     .palette-title-bar {
            //         display: flex;
            //         .palette-name {
            //             font-size: 13px;
            //             margin-bottom: 5px;
            //         }
            //         .favorites-pdf {
            //             display: flex;
            //             align-items: center;
            //             margin-right: 4px;
            //             color: #777;
            //             margin-left: auto;
            //             span {
            //                 font-size: 12px;
            //             }
            //             svg {
            //                 width: 18px;
            //                 margin-right: 2px;
            //                 opacity: 0.7;
            //             }
            //             &:hover, &:focus {
            //                 svg {
            //                     opacity: 1;
            //                 }
            //             }
            //         }
            //         .download-favorites {
            //             width: 32px;
            //             height: auto;
            //             cursor: pointer;

            //         }
            //     }
            // }
            .palette-wrap {
                padding: 5px 10px 10px;
                background: #f2f2f2;
                // margin: 5px;
                margin-bottom: 10px;
                max-width: 300px;
                width: 300px;
                .palette-title-bar {
                    display: flex;
                    .palette-name {
                        font-size: 13px;
                        font-weight: 600;
                        padding-bottom: 5px;
                    }
                    .palette-pdf, .favorites-pdf {
                        margin-left: auto;
                        margin-right: 10px;
                        width: 21px;
                        
                            cursor: pointer;
                            svg {
                                width: 21px;
                                height: auto;
                                path {
                                    fill: #aaa;
                                }
                            }
                            span {
                                display: none;
                            }
                            &:hover {
                                svg {
                                   path {
                                        fill: #777;
                                   } 
                                }
                            }
                        
                    }
                    // .palette-likes {
                    //     // padding: 3px 0;
                    //     text-align: right;
                    //     // margin-left: auto;
                    //     // align-self: flex-end;
                    //     svg {
                    //         width: 12px;
                    //         height: 12px;
                    //         font-size: 12px;
                    //         position: relative;
                    //         // top: 2px;
                    //         path {
                    //             fill: #bbb;
                    //             stroke-width: 5;
                    //             stroke: #491EC4;
                    //             &:hover {
                    //                 fill: red;
                    //                 cursor: pointer;
                    //             }
                    //         }
                    //     }
                    //     .liked {
                    //         svg {
                    //             path {
                    //                 fill: red;
                    //             }
                    //         }
                    //     }
                    //     .likes-count {
                    //         font-size: 12px;
                    //         position: relative;
                    //         top: -1px
                    //     }
                    // }
                }

                .user-palette {
                    display: flex;
                    // flex-wrap: wrap;
                    padding: 8px;
                    border: 1px solid #ccc;
                    background: #fff;
                    .swatch {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 1px;
                        font-size: 9px;
                        font-weight: 500;
                        line-height: 1.2;
                        .swatch-color {
                            padding: 2px;
                            width: 50px;
                            height: 50px;
                            .add-favorite, .remove-favorite {
                                top: 3px;
                                right: 3px;
                                font-size: 12px;
                                svg {
                                    width: 12px;
                                    height: 12px;
                                }
                            }
                        }
                    }
                }
            }
            .user-palette {
                display: flex;
                flex-wrap: wrap;
                padding: 8px;
                border: 1px solid #ccc;
                background: #fff;
                max-width: 298px;
                justify-content: space-between;
                .swatch {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 2px;
                    font-size: 9px;
                    font-weight: 500;
                    line-height: 1.2;
                    .swatch-color {
                        padding: 2px;
                        width: 50px;
                        height: 50px;
                        .add-favorite, .remove-favorite {
                            top: 3px;
                            right: 3px;
                            font-size: 12px;
                            svg {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
            
            .palette-utilities {
                .delete-palette {
                    margin: 5px 0 0;
                    display: flex;
                    justify-content: flex-end;
                    .palette-delete {
                        font-size: 14px;
                        display: flex;
                        align-items: center;
                        svg {
                            margin-right: 2px;
                            font-size: 18px;
                            width: 18px;
                            height: 18px;
                            width: 24px;
                            fill:  #f35336;
                            cursor: pointer;
                            opacity: 0.7;
                            circle {
                                fill: transparent;
                                color: #f35336;
                            }
                        }
                        &:hover, &:focus {
                            svg {
                                opacity: 1;
                            }
                        }
                    }
                    .clear-text {
                        font-size: 11px;
                        color: #777;
                    }
                }
            }
            
        }
        .no-info {
            .swatch-content {
                display: none;
            }
        }
    }
}
