
.page-home {
    overflow: hidden;
    scroll-behavior: smooth;
    .content {
        position: relative;
       
    }
    // .colors-image {
    //     position: absolute;
    //     right: 140px;
    //     bottom: 20px;
    //     max-width: 500px;
    //     transform: rotate(-2deg);
    // }
    .home-features {
        max-width: 80%;
        margin: 1em auto 3em;
        .features {
            display: flex;
            flex-wrap: wrap;
            max-width: 720px;
            justify-content: space-around;
            padding: 1em;
            .features-image {
                // max-width: 270px;
                transform: rotate(-2deg);
                // opacity: 0.69;
                // padding: 10px;
            }
            .features-content {
                max-width: 400px;
                h3 {
                    font-size: 2.5em;
                    margin-bottom: 12px;
                }
                p {
                    font-size: 14px;
                }
            }
        }
        .features-2 {
            .features-image {
                margin-right: 4%;
            }
        }
        .features-3 {
            .features-image {
                margin-left: 4%;
            }
        }
        .inner {
            position: relative;
        }
        .inner1.scroll1 {
            .box1 {
                transform: rotate(3deg) translate(-20px, 0) skew(1.5deg);
            }
            .box2 {
                transform: rotate(4deg) translate(50px, -27px) skew(4deg);
            }
            .box3 {
                transform: rotate(3deg) translate(-80px, -18px) skew(-1deg);
            }
            .box4 {
                transform: rotate(-4deg) translate(10px, -29px) skew(-2deg);
            }
            .box5 {
                transform: rotate(3.25deg) translate(38px, 19px) skew(-3.5deg);
            }
            .box6 {
                transform: rotate(271deg) translate(-48px, -49px) skew(-1.5deg);
            }
        }

        .box {
            position: absolute;
            transition: all 1s;
        }

        .inner1 {
            .box1 {
                width: 140px;
                height: 100px;
                background: #494d8b;
                opacity: 0.63;
                transform: rotate(10deg) translate(-50px, 4px);
                z-index: 2;
            }

            .box2 {
                width: 60px;
                height: 110px;
                background: #1f56a7;
                opacity: 0.59;
                transform: rotate(41deg) translate(-20px, -10px);
                z-index: 4;
            }


            .box3 {
                width: 120px;
                height: 124px;
                background: #65318e;
                opacity: 0.57;
                transform: rotate(116deg) translate(40px, 60px);
                z-index: 6;
            }

            .box4 {
                width: 60px;
                height: 150px;
                background: #59bac7;
                opacity: 0.44;
                transform: rotate(188deg) translate(44px, -30px);
                z-index: 8;
            }

            .box5 {
                width: 90px;
                height: 130px;
                background: #ff5a36;
                opacity: 0.54;
                transform: rotate(188deg) translate(12px, -40px);
                z-index: 3;
            }

            .box6 {
                width: 140px;
                height: 130px;
                background: #2538a0;
                opacity: 0.54;
                transform: rotate(198deg) translate(22px, -30px);
                z-index: 4;
            }
        }

        .inner2.scroll2 {
            .box1 {
                transform: rotate(3deg) translate(-20px, 0) skew(1.5deg);
            }
            .box2 {
                transform: rotate(-2deg) translate(-50px, 25px) skew(-2deg);
            }
            .box3 {
                transform: rotate(3deg) translate(-70px, 18px) skew(-1deg);
            }
            .box4 {
                transform: rotate(-4deg) translate(10px, -49px) skew(-2deg);
            }
            .box5 {
                transform: rotate(3.25deg) translate(38px, 19px) skew(-3.5deg);
            }
            .box6 {
                transform: rotate(271deg) translate(-10px, -49px) skew(-1.5deg);
            }
        }

        .inner2 {
            .box1 {
                width: 200px;
                height: 130px;
                background: #489e4c;
                opacity: 0.63;
                transform: rotate(10deg) translate(-50px, 4px);
                z-index: 2;
            }

            .box2 {
                width: 220px;
                height: 140px;
                background: #1fa76e;
                opacity: 0.59;
                transform: rotate(11deg) translate(-20px, -10px);
                z-index: 4;
            }


            .box3 {
                width: 160px;
                height: 94px;
                background: #c1df57;
                opacity: 0.57;
                transform: rotate(6deg) translate(40px, 60px);
                z-index: 6;
            }

            .box4 {
                width: 90px;
                height: 260px;
                background: #a6e2cb;
                opacity: 0.44;
                transform: rotate(4deg) translate(44px, -30px);
                z-index: 8;
            }

            .box5 {
                width: 170px;
                height: 88px;
                background: #299753;
                opacity: 0.54;
                transform: rotate(188deg) translate(12px, -40px);
                z-index: 3;
            }

            .box6 {
                width: 130px;
                height: 228px;
                background: #dadd2a;
                opacity: 0.54;
                transform: rotate(198deg) translate(22px, -30px);
                z-index: 4;
            }
        }

        .inner3.scroll3 {
            .box1 {
                transform: rotate(2deg) translate(-110px, 24px) skew(1.5deg);
            }
            .box2 {
                transform: rotate(3deg) translate(-80px, -45px) skew(-2deg);
            }
            .box3 {
                transform: rotate(93deg) translate(40px, 38px) skew(-1deg);
            }
            .box4 {
                transform: rotate(-4deg) translate(-14px, -89px) skew(-2deg);
            }
            .box5 {
                transform: rotate(92deg) translate(18px, 79px) skew(-3.5deg);
            }
            .box6 {
                transform: rotate(94deg) translate(-40px, 89px) skew(-1.5deg);
            }
        }

        .inner3 {
            .box1 {
                width: 240px;
                height: 75px;
                background: #f1a10c;
                opacity: 0.63;
                transform: rotate(90deg) translate(-30px, 68px);
                z-index: 2;
            }

            .box2 {
                width: 120px;
                height: 230px;
                background: #f0380b;
                opacity: 0.59;
                transform: rotate(1deg) translate(-29px, 10px);
                z-index: 4;
            }


            .box3 {
                width: 170px;
                height: 54px;
                background: #f0e115;
                opacity: 0.57;
                transform: rotate(89deg) translate(20px, 60px);
                z-index: 6;
            }

            .box4 {
                width: 90px;
                height: 240px;
                background: #ff8903;
                opacity: 0.44;
                transform: rotate(4deg) translate(-84px, -10px);
                z-index: 8;
            }

            .box5 {
                width: 140px;
                height: 178px;
                background: #d41434;
                opacity: 0.54;
                transform: rotate(182deg) translate(82px, -20px);
                z-index: 3;
            }

            .box6 {
                width: 130px;
                height: 218px;
                background: #dadd2a;
                opacity: 0.54;
                transform: rotate(198deg) translate(22px, -30px);
                z-index: 4;
            }
        }
        
        
        .features-1 {
        }
        .features-2 {
            margin-left: auto;
        }
        .features-3 {
            position: relative;
            left: -70px;
        }
    }
    .random-swatches {
        background: #fff;
        padding: 1.5em;
        z-index: 999999;
        .swatches-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            // padding: 0 8px;
            .more-trigger {
                width: 18px;
                height: 18px;
                color: #0088cc;
                // margin-left: auto;
                cursor: pointer;
                font-size: 18px;
                svg {
                    width: 18px;
                    height: 18px;
                    position: relative;
                    top: 3px;
                }
                &:hover,
                &:focus {
                    color: darken(#0088cc, 12%);
                }
            }
            .rotate {
                svg {
                    animation: rotate-keyframes 0.3s linear;
                }
            }

            @keyframes rotate-keyframes {
                from {
                    transform: rotate(0deg);
                }

                to {
                    transform: rotate(180deg);
                }
            }
            .swatch-info {
                &:focus {
                    outline: none;
                }
                svg {
                    width: 16px;
                    height: 16px;
                    position: relative;
                    top: 2px;
                    circle {
                        fill: transparent;
                    }
                }
            }
            .swatches-link {
                padding-right: 5px;
                font-weight: 700;
            }
        }
        .swatch-list {
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            li {
                margin: 0;
                // min-width: 180px;
                // flex: 1;
                // width: 12%;
                .swatch-color {
                    height: 80px;
                    .add-favorite,
                    .remove-favorite {
                        //  display: none;
                    }
                }
            }
        }
    }
    .home-content {
        // padding: 1.5em;
        background: #fff;
        .home-tiles {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            justify-content: space-between;
            width: 100%;
            li {
                width: 29%;
                border: 1px solid #eee;
                border-radius: 5px;
                // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                h2 {
                    margin: 0;
                    font-weight: 800;
                    letter-spacing: 0.015em;
                    padding: 24px;
                    .svg-icon {
                        svg {
                            width: 24px;
                            height: 24px;
                            position: relative;
                            top: 4px;
                            margin-right: 4px;
                            path {
                                fill: #fff;
                            }
                            
                        }
                    }
                }
                &:hover {
                    // box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }
                .tile-content {
                    padding: 0 1.5em 1.5em;
                }
                a {
                    font-weight: 600;
                    font-family: 'SF Compact Text';
                    letter-spacing: -0.017em;
                }
            }
            li:nth-of-type(1) {
                h2 {
                    background: #ff7952;
                }
            }
            li:nth-of-type(2) {
                h2 {
                    background: #ff9932;
                    ;
                }
            }
            li:nth-of-type(3) {
                h2 {
                    background: #fabf14;
                }
            }
        }
        .home-go-pro {
            padding: 1.5em 1.5em 3em;
            position: relative;
            // height: 820px;
            .go-pro-bg {
                background-image: linear-gradient(#e4c3f1, #c8dde9, #c5fcf3);
                // transform: skewY(0.5deg);
                // transform-origin: 0;
                min-height: 300px;
                z-index: 0;
                position: absolute;
                top: 0;
                bottom: 0;
                right: 0;
                left: 0;
                width: 100%;
                height: 100%;
                // max-height: 820px;
                overflow: hidden;
                -webkit-clip-path: polygon(0 0, 100% 4%, 100% 96%, 0% 100%);
                clip-path: polygon(0 0, 100% 4%, 100% 96%, 0% 100%);
            
            }
            .go-pro-bg-inner {
                span:nth-of-type(1) {
                    background: #9d7ca5;
                    width: 80%;
                    height: 255px;
                    position: absolute;
                    display: block;
                    opacity: 0.2;
                    transform: rotate(-2.789deg);
                }
                span:nth-of-type(2) {
                    background: #cdc5e6;
                    width: 550px;
                    height: 392px;
                    position: absolute;
                    display: block;
                    opacity: 0.4;
                    transform: rotate(-4.5deg);
                }
                span:nth-of-type(3) {
                    background: #e2d987;
                    width: 58%;
                    height: 403px;
                    position: absolute;
                    // bottom: 0;
                    left: 60%;
                    display: block;
                    opacity: 0.08;
                    bottom: 100px;
                }
                span:nth-of-type(4) {
                    background: #494d8b;
                    width: 420px;
                    height: 247px;
                    position: absolute;
                    display: block;
                    // opacity: 0.5;
                    opacity: 0.06;
                }
                span:nth-of-type(5) {
                    background: #b3a3c9;
                    width: 2999px;
                    height: 277px;
                    position: absolute;
                    bottom: -400px;
                    right: 0;
                    display: block;
                    // opacity: 0.5;
                    opacity: 0.09;
                }
                span:nth-of-type(6) {
                    background: #b5b6ce;
                    width: 299px;
                    height: 327px;
                    position: absolute;
                    right: 0;
                    display: block;
                    // opacity: 0.5;
                    opacity: 0.029;
                    transform: rotate(-2.334deg);
                }
                span:nth-of-type(7) {
                    background: #ff5a36;
                    // background: #221144;
                    width: 349px;
                    height: 457px;
                    position: absolute;
                    right: -120px;
                    bottom: 0;
                    display: block;
                    // opacity: 0.5;
                    opacity: 0.03;
                    transform: rotate(-1.54deg);
                }
                span:nth-of-type(8) {
                    background: #505883;
                    width: 88%;
                    height: 857px;
                    position: absolute;
                    right: 40px;
                    top: -80px;
                    display: block;
                    // opacity: 0.5;
                    opacity: 0.03;
                    transform: rotate(-2deg);
                }
            }
            // .go-pro-bg-2 {
            //     background-image: linear-gradient(#e3e9e8, #ecead1);
            //     transform: skewY(-0.5deg);
            //     transform-origin: 0;
            //     height: 120px;
            //     z-index: 0;
            //     position: absolute;
            //     // top: 0;
            //     bottom: 60px;
            //     right: 0;
            //     left: 0;
            //     width: 100%;
            //     // height: 100%;
            //     // max-height: 600px;
            //     overflow: hidden;
            //     z-index: 0;
            // }
            h2 {
                position: relative;
                text-align: center;
                font-size: 3em;
                // color: #fff;
                margin-bottom: 16px;
            }
            p {
                max-width: 600px;
                font-size: 1.5em;
                margin-top: 0;
            }
            .go-pro {
                max-width: 1200px;
                margin: 0 auto;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                ul {
                    display: flex;
                    flex-wrap: wrap;
                    // align-items: center;
                    justify-content: center;
                    // flex-direction: column;
                    li {
                        width: 29%;
                        padding: 0 1.5em;
                        margin: 1em 0;
                        text-align: center;
                        h3 {
                            margin: 0;
                        }
                        p {
                            margin-top: 0;
                            font-size: 14px;
                        }
                        svg {
                            width: 48px;
                            height: 48px;
                            circle {
                                width: 32px;
                                height: 32px;
                                fill: #65318e;
                            }
                            path {
                                fill: lighten(#aaaed0, 10%);
                            }
                        }
                    }

                    .fifteen-favorites {
                        svg {
                            width: 48px;
                            height: 48px;
                            circle {
                                width: 32px;
                                height: 32px;
                                fill: #65318e;
                            }
                            path {
                                fill: lighten(#aaaed0, 10%);
                            }
                        }
                    }
                }
                .go-pro-cta {
                    z-index: 999;
                }
                .button {
                    background: #65318e;
                    padding: 1em 2em;
                    cursor: pointer;
                    &:hover, &:focus {
                        background: #4b1375;
                        padding: 1em 2em !important;
                    }
                }
            }
        }
    }
}

@keyframes bobble {
    // 0% {
    //     transform: translate3d(100px, 40px, 100px);
    //     animation-timing-function: ease-in;
    // }
    // 50% {
    //     transform: translate3d(50px, 30px, 10px);
    //     animation-timing-function: ease-out;
    // }
    // 100% {
    //     transform: translate3d(80px, 20px, 30px);
    // }
}

@media only screen and (max-width: 767px) {
    .home-page {
        .page-home {
            .random-swatches {
                .swatches-header {
                    .swatches-link {
                        padding-bottom: 10px;
                    }
                }
                .swatch-list {
                    li.swatch {
                        margin-bottom: 10px;
                        // width: 150px !important;
                        // flex: 1;
                        width: 49%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 900px) {
    .home-page {
        .page-home {
            .hero {
                // padding-top: 100px;
                .hero-content {
                    font-size: 85%;
                }
                .hero-bg {
                    span:nth-of-type(1) {
                        width: 69%;
                        // position: absolute;
                        // opacity: 0.2;
                        // top: 26px;
                        // left: -15px;
                    }
                    span:nth-of-type(2), span:nth-of-type(3)  {
                        display: none;
                    }
                    span:nth-of-type(4) {
                        width: 51% !important;
                        // position: absolute;
                        // opacity: 0.14;
                        // left: 20px;
                        // top: -30px;
                    }
                }
                
            }
            .home-go-pro {
                height: 1400px;
                h2 {
                    font-size: 2.5em;
                    margin-top: 1.5em;
                }
                .go-pro-bg {
                    max-height: 1400px;
                }
            }
            .home-content {
                .home-tiles.nostyle {
                    li {
                        width: 100%;
                        max-width: 100%;
                        margin-bottom: 1em;
                    }
                }
            }
            
        }
    }
}

@media only screen and (min-width: 768px) {
    .home-page {
        .page-home {
            .random-swatches {
                .swatch-list {
                    li.swatch {
                        width: 24%;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1029px) {
    .home-page {
        .page-home {
            .home-features {
                .features {
                    margin-bottom: 60px;
                    flex-direction: column;
                    align-items: center;
                    .features-image {
                        order: -1;
                        height: 220px;
                        position: relative;
                        top: 40px;
                    }
                    .features-content {
                        h3 {
                            font-size: 2em;
                        }
                    }
                }
                .features-2 {
                    .outer {
                        position: relative;
                        left: -40px;
                        top: -15px;
                    }
                }
                .features-3 {
                    left: 0;
                }
            }
        }
    }
}

@media only screen and (min-width: 1030px) {
    .home-page {
        .header {
            position: relative;
            .header-cart {
                position: absolute;
                right: 24px;
                bottom: 24px;
                .cart-inner {
                    background: transparent;
                    border: 0;
                    svg {
                        path {
                            fill: #fff;
                            opacity: 0.7;
                        }
                    }
                    .item-count {
                        color: #fff;
                    }
                }
            }
        }
        .page-home {
            .random-swatches {
                .swatch-list {
                    li.swatch {
                        width: 12%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1240px) {
    .home-page {
        .page-home {
            .home-content {
                .home-tiles.nostyle {
                    li {
                        width: 32%;
                        max-width: 32%;
                        // margin-bottom: 1em;
                    }
                }
            }
        }
    }
}
