* {
    // box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.41;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'SF Compact Display', 'SF Pro Display', -apple-system,
        BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.App {
    a {
        text-decoration: none;
        &:hover,
        &:focus {
            padding-bottom: 2px;
            border-bottom: 1px solid #0088cc;
            cursor: pointer;
        }
        &:active {
            color: #0088cc;
        }
    }
    .nostyle {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .svg-icon {
        svg {
            width: 16px;
            height: 16px;
            position: relative;
            // top: 2px;
            circle {
                fill: transparent;
            }
        }
    }
    .content {
        .colors {
            padding: 1.5em;
            .colors-header {
                display: flex;
                align-items: center;
                .colors-header-text {
                    margin-left: 7px;
                    font-size: 14px;
                    p {
                        margin: 0;
                    }
                    .search-term {
                        padding: 4px 8px;
                        background: #f2f3ce;
                        font-weight: 700;
                    }
                }
            }
            .sort-input {
                margin: 12px 0 6px auto;
                padding: 0 4px;
                text-align: right;
                font-size: 14px;
            }
        }
        .favorites {
        }
        
    }
    .content.sidebar {
        display: flex;
        .colors, .color-page {
            width: 80%;
        }
        .favorites {
            min-width: 400px;
            width: 20%;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            .favorites-toolbar {
            }
        }
    }
    .content.no-sidebar {
        .favorites {
            // width: 0;
        }
        .colors {
        }
    }
    .favorites.inactive {
        display: none;
    }
}

.home-page {
    background: #465f9e;
    .header {
        .header-bar {
            background: transparent;
        }
    }
    .content {
        width: 100%;
        .page-home {
            width: 100%;
        }
    }
    .favorites,
    .sidebar-toggle {
        display: none;
    }
}

@media only screen and (max-width: 899px) {
    .sidebar-toggle {
        display: none;
    }
    .App {
        .colors-page {
            .content.sidebar {
                .colors {
                    width: 100%;
                }
                .favorites {
                    display: none;
                }
            }
        }
    }
}
