* {
    // box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.41;
}

.modali-open {
    overflow: inherit !important;
    padding-right: 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'SF Compact Display', 'SF Pro Display', -apple-system,
        BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
}

button, .button {
    cursor: pointer;
}

.small {
    font-size: 13px;
}

a, .like-link {
    text-decoration: none;
    color: #65318e;
    &:hover,
    &:focus {
        padding-bottom: 2px;
        border-bottom: 1px solid #0088cc;
        color: #0088cc;
        cursor: pointer;
    }
    &:active {
        color: #0088cc;
    }
}

.linkish {
    text-decoration: none;
    color: #65318e;
    &:hover,
    &:focus {
        color: #0088cc;
        cursor: pointer;
    }
    &:active {
        color: #0088cc;
    }
}

.nostyle {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-inline-start: 0;
}
.svg-icon {
    svg {
        width: 16px;
        height: 16px;
        position: relative;
        // top: 2px;
        circle {
            fill: transparent;
        }
    }
}

.forgot-password-link, .more-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.strikethrough {
    text-decoration: line-through;
    color: #aaa;
}

.App {
    
    
    .content {
        padding-top: 88px;
        min-height: 1000px;
        .colors {
            padding: 1.5em;
            // width: 100%;
            .colors-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .colors-header-text {
                    // margin-left: 7px;
                    font-size: 14px;
                    .search-term {
                        padding: 4px 8px;
                        background: #f2f3ce;
                        font-weight: 700;
                    }
                }
            }
            .sort-input {
                margin: 12px 0 6px 0;
                padding: 0 4px;
                text-align: right;
                font-size: 14px;
                
            }
        }
        .favorites {
        }
        
    }
    .content.sidebar {
        display: flex;
        
        .colors, .color-page {
            // width: 80%;
            width: 100%;
        }
        .favorites {
            // width: 400px;
            // // min-width: 400px;
            // width: 20%;
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            right: -420px;
            // right: 0;
            transition: all .6s ease-in-out;
            // align-self: flex-end;
            .favorites-toolbar {
            }
        }
    }
    .content.no-sidebar {
        
        .favorites {
            // width: 0;
        }
        .colors {
        }
    }
    .favorites.active.transition {
        transition: all .6s ease-in-out;
        transform: translateX(0);
        -webkit-transform: translateX(0);
    }
    .favorites.inactive.transition {
        transition: all .6s ease-in-out;
        // display: none;
        transform: translateX(100%);
        -webkit-transform: translateX(100%);
    }
    .favorites.active {
    }
    .favorites.inactive {
        position: fixed;
        width: 400px;
        right: -420px;
        
    }
}

.home-page {
    // background: #465f9e;
    scroll-behavior: smooth;
    .header {
        .header-bar {
            background: transparent;
        }
    }
    .content {
        width: 100%;
        .page-home {
            width: 100%;
        }
    }
    .favorites,
    .sidebar-toggle {
        display: none;
    }
}

.site-id {
    display: flex;
    align-items: center;
    // margin-right: 24px;
    .logo {
        margin-right: 4px;
        position: relative;
        top: 2px;
        svg {
            width: 32px;
            height: 32px;
        }
    }
    .site-title {
        margin-right: 1em;
        h1 {
            color: #fff;
            letter-spacing: 0.02em;
        }
    }
    
}

.export-css.disabled {
    svg {
        circle {
            fill: #ccc;
        }
        path {
            fill: #fff;
        }
    }

    &:hover {
        // cursor: not-allowed;
        svg {
           circle {
                fill: #ccc !important;
           } 
        }
    }
}


.not-found-page {
    padding: 1.5em;
    width: 100%;
    .not-found-inner {
        max-width: 600px;
        margin: 0 auto;
    }
}


.button {
    background: #65318e;
    padding: 0.5em 2em;
    color: #fff;
    border: 0;
    border-radius: 4px;
    font-size: 1.1em;
    font-weight: 600;
    margin: 1em 0;
    display: inline-block;
    font-family: 'SF Compact Display', 'SF Pro Display', -apple-system,
    BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    &:hover, &:focus {
        background: #0088cc;
        padding: 0.5em 2em;
        border: 0;
        color: #fff;
        text-decoration: none;
        border-bottom: 0;
    }
    a {
        color: #fff !important;
        text-decoration: none !important;
        border-bottom: 0;
        &:hover, &:focus {
            text-decoration: none !important;
            border-bottom: 0;
        }
    }
}

.button.disabled {
    opacity: 0.4;
    color: #ccc;
    cursor: not-allowed;
    &:hover, &:focus {
        background: #65318e;
        opacity: 0.4;
        color: #ccc;
    }
}

.tabs {
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    .tabs-inner {
    }
    .tab-triggers {
        display: flex;
        .tab-title {
            width: 50%;
            padding-bottom: 1em;
            color: #bbb;
            padding: 1em;
            border-bottom: 1px solid #ccc;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:hover, &:focus {
                background: #f2f2f2;
            }
            h2 {
                margin: 0;
            }
        }
        .tab-title-1 {
            border-right: 1px solid #ccc;
        }
        .tab-title.tab-active {
            color: #222;
            border-bottom: none;
        }
    }
    .tab {
        padding: 1.5em;
        form {
            display: flex;
            flex-direction: column;
            label {
                display: flex;
                align-items: center;
                margin: 8px 0;
                .input-label {
                    width: 120px;
                    font-size: 18px;
                }
                input {
                    padding: 4px;
                    width: 97.5%;
                    height: 32px;
                    font-size: 16px;
                    background: #f1f1f1;
                    border: 1px solid #dedede;
                    &:focus {
                        background: #fff;
                    }
                }
            }
            .button {
                padding: 1em 2em;
                display: inline-block;
            }
        }
    }
    .tab-title:not(.tab-active) {
        background: #ddd;
    }
    .tab.active {
        display: block;
    }
    .tab.inactive {
        display: none;
    }
}

// /* Used to detect in JavaScript if apps have loaded styles or not. */
// :root {
//     --reach-dialog: 1;
//   }
  
//   [data-reach-dialog-overlay] {
//     background: hsla(0, 0%, 0%, 0.33);
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     overflow: auto;
//   }
  
//   [data-reach-dialog-content] {
//     width: 50vw;
//     max-width: 600px;
//     margin: 30vh auto;
//     background: white;
//     padding: 1.5em;
//     outline: none;
//     position: relative;
//     border-radius: 4px;
//     .modal-close {
//         position: absolute;
//         top: 0;
//         right: 15px;
//         font-size: 36px;
//         color: #aaa;
//         cursor: pointer;
//         &:hover, &:focus {
//             color: #555;
//         }
//     }
//     .error-message {
//         padding: 1.5em;
//     }
//     .modal-content {
//         a {
//             border: 0;
//             text-decoration: none;
//             font-weight: 600;
//             &:hover {
//                 padding-bottom: 2px;
//                 border-bottom: 1px solid #0088cc;
//                 cursor: pointer;
//             }
//             &:active {
//                 color: #0088cc;
//             }
//         }
//     }
// }

.modali-wrapper {
    .modali {
        // minheight: 60vh;
        margin: 20vh auto;
        padding: 1.5em 2.2em;
        position: relative;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        .modali-content {
            
            .modali-header {
                padding: 0;
                .modali-close-button {
                    position: absolute;
                    top: 5px;
                    right: 15px;
                    background: transparent;
                    font-size: 32px;
                    z-index: 99999;
                }
            }
            .modali-body {
                .error-message {
                    .error-header {
                        display: flex;
                        align-items: center;
                        margin: 1em 0 0;
                        .logo {
                            width: 32px;
                            margin-right: 8px;
                            svg {
                                width: 32px;
                                height: 32px;
                            }
                        }
                        h3 {
                            font-size: 28px;
                            margin: 0;
                        }
                    }
                    a {
                        font-weight: 600;
                    }
                    .button {
                        margin: 1em 0;
                        a {
                            color: #fff;
                            font-size: 21px;
                        }
                    }
                    
                    
                }
            }
        }
    }
}

.tippy-popper {
    .tippy-tooltip {
        .tippy-content {
            font-size: 12px !important;
        }
    }
}

  
.tippy-popper {
    .tippy-tooltip.dark-theme {
        padding: 0.8rem 1rem;
        bottom: -10px !important;
        text-align: left;
        font-size: 12px !important;
        h3 {
            margin-top: 0;
            padding-bottom: 5px;
            border-bottom: 1px solid #999;
        }
        .cart-item, .cart-link {
            margin: 3px 0;
        }
        .button {
            color: #fff;
            text-decoration: none;
            border: 0;
            padding: 8px 14px;
            font-size: 13px;
            margin-bottom: 0;
            &:hover,
            &:focus {
                // padding-bottom: 2px;
                padding: 8px 14px;
                border-bottom: 0;
                cursor: pointer;
            }
            &:active {
                border: 0;
            }
        }
    }
    
}


@media only screen and (max-width: 899px) {
    .sidebar-toggle {
        // display: none;
    }
    .App {
        .colors-page, .palettes-page {
            .content.sidebar {
                .colors, .feed {
                    // width: 100%;
                    .feed-list {
                        // width: 320px;
                        margin: 0 auto;
                        // max-width: 80%;
                    }
                }
                .favorites {
                    // display: none;
                }
            }
        }
    }
}

@media only screen and (max-width: 1029px) {
    .App {
        .content {
            margin-top: 302px;
            padding-top: 0;
            flex-direction: column;
            
        }
        .content.sidebar {
            width: 100vw;
            .colors, .color-page {
                width: initial;
            }
            .favorites {
                // box-sizing: content-box;
                // // width: ;
                // // max-width: 100vw;
                // // min-width: 99%;
                // order: -1;
                // position: relative;
                // top: 0;
                // right: 0;
            }
        }
        .home-page {
            .content {
                margin-top: 150px;
            }
        }
    }
}

@media only screen and (min-width: 1029px) {
    .App {
        .content.sidebar {
            .favorites {
                min-width: 400px;
            }
        }
    }
}



/* React Toggle CSS */

.react-toggle {
    touch-action: pan-x;
  
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
  
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  .react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
  }
  
  .react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #4D4D4D;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  
  .react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000000;
  }
  
  .react-toggle--checked .react-toggle-track {
    background-color: #19AB27;
  }
  
  .react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128D15;
  }
  
  .react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-track-x {
    opacity: 0;
  }
  
  .react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4D4D4D;
    border-radius: 50%;
    background-color: #FAFAFA;
  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19AB27;
  }
  
  .react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
    -moz-box-shadow: 0px 0px 3px 2px #0099E0;
    box-shadow: 0px 0px 2px 3px #0099E0;
  }
  
  .react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
    -moz-box-shadow: 0px 0px 5px 5px #0099E0;
    box-shadow: 0px 0px 5px 5px #0099E0;
  }
