.account-handler-page {
    background: #efefef;
    .content {
        max-width: 800px;
        margin: 2.2em auto;
        min-height: inherit !important;
        display: flex;
        align-items: center;
        justify-content: center;
        .account-handler {
            padding: 2.2em;
            background: #fff;
            // width: 100%;
            border-radius: 4px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            .account-section {
                max-width: 500px;
                min-width: 400px;
                h3 {
                    margin-top: 0;
                }
                input[type="email"], input[type="password"] {
                    height: 30px;
                    width: 97.5%;
                    margin: 1em 0 0;
                    background: #f2f2f2;
                    border: 1px solid #dedede;
                    padding: 4px;
                    font-size: 18px;
                }
            }
            h1{
                margin-top: 0;
            }
        }
    }
    .favorites, .sidebar-toggle {
        display: none;
    }
}